<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/header.css" />
    <link rel="stylesheet" href="static/css/sidebar.css" />
    <title>{% block title %}Ruanete{% endblock %}</title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="row">
      <div class="column">
        {% include "sidebar.html" %}
      </div>
      <div id="content" class="column">
        {% block body %}{% endblock %}
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
