{% extends "layout.html" %}
{% block title %}MUSICAL - Albums{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="float-left">Albums</h1>
      </div>
      <div class="col">
        {% if not user.is_anonymous %}
          <button onclick="location.href='/web_musical/albums/new/'" type="button" class="btn btn-success float-right">Añadir album</button>
        {% endif %}
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Titulo del album</th>
            <th scope="col">Distribuidora</th>
            <th scope="col">Fecha de lanzamiento</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for album in albums %}
            <tr>
              <td>{{ album.grupo }}</td>
              <td>{{ album.titulo }}</td>
              <td>{{ album.distribuidora }}</td>
              <td>{{ album.fecha_lanzamiento }}</td>
              <td class="float-right">
                {% if not user.is_anonymous %}
                  <button onclick="location.href='/web_musical/albums/edit/{{album.pk}}/'" type="button" class="btn btn-info">Editar</button>
                  <button onclick="location.href='/web_musical/albums/delete/{{album.pk}}/'" type="button" class="btn btn-danger">Borrar</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
