<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-primary custom-btn">
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/">
      <img id="logo" src="static/img/logo.png" width="35px">
      RUANETE
    </a>
    <div class="search-container">
      <form action="/search" method="get">
        <input type="text" placeholder="Búsqueda.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
