table{
  margin-top: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

table th{
  color: white;
  border-radius: 5px;
  background-color: black;
}

table td{
  border-radius: 5px;
  background-color: red;
}

ul {
  list-style-image:url('../img/disco_oro.gif');
}

h3 {
  text-align: center;
  width: 200px;
  background-color: black;
  border: 2px solid;
  border-color: #b3b3b3;
  border-radius: 30px;
  color: #e1c635;
  padding-top: 5px;
  padding-bottom: 5px;
}

table tr:hover td{
  background-color:green;
}

#contenedor_principal{
  width: 40%;
  position: relative
  height:auto;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 0;
  border: 2px solid white;
}

a {
  padding: 0;
  margin: 0;
  border: 0;
}

a img{
  width: 100%;
}

.imagen{
  padding: 1%;
  width: 23%;
  float: left;
}

.imagen:hover{
  background-color: green;
}
